* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-image: url('../img/wood-bkg.jpg');
}

.mega-container {
    padding: 10px 200px;
}

header {
    height: 400px;
    padding: 0 10px;
}

header .container {
    height: 100%;
    position: relative;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.main-text i {
    font-size: 70px;
    color: white;
}

.main-text h1 {
    border: 8px solid white;
    font-size: 70px;
    padding: 20px;
    display: inline-block;
}

.main-text h3 {
    font-size: 22px;
    margin-top: 30px;
    width: 100%;
}

nav {
    height: 50px;
    padding: 0 10px 10px 10px;
}

nav .container {
    background-color: grey;
    height: 100%;
    text-align: center;
    line-height: 40px;
}

nav li {
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

aside {
    width: 25%;
    float: left;
    padding: 10px;
}

aside .container {
    background-color: white;
    height: 100%;
}

aside section {
    width: 100%;
}

aside section.left {
    padding-bottom: 20px;
}

section.left .container, section.right .container {
    padding: 10px;
}

section.left h4 {
    display: inline-block;
    font-size: 20px;
}

section.left i {
    font-size: 40px;
    color: orange;
}

section.left p {
    line-height: 25px;
    margin: 10px 0px;
    color: green;
}


main {
    width: 50%;
    float: left;
    padding: 10px;
    line-height: 25px;
}

main .container {
    background-color: white;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

main h4 {
    margin-bottom: 20px;
    font-size: 25px;
}

section.right h4 {
    margin-bottom: 20px;
}

section.right p {
    line-height: 25px;
}

aside section.right:first-child {
    padding-bottom: 20px;
}

aside section.right:nth-child(2) {
    padding-bottom: 20px;
}


section .container {
    background-color: white;
    border-radius: 10px;
}


footer {
    height: 150px;
    padding: 10px;
}

footer .container {
    background-color: white;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.text-footer {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    padding: 10px;
    color: grey;
    border-bottom: 2px solid gray;
}

.text-footer {
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
}

.barra-loghi {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    bottom:  0;
    left: 0;
}

.barra-loghi i {
    font-size: 40px;
    padding: 0 100px;
    color: grey;
}
