* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-image: url('../img/wood-bkg.jpg');
}

.mega-container {
    padding: 10px 200px;
}

header {
    height: 400px;
    padding: 0 10px;
}

header .container {
    height: 100%;
    position: relative;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.main-text i {
    font-size: 80px;
    height: 100px;
    width: 100px;
    color: white;
}

.main-text h1 {
    border: 8px solid white;
    font-size: 70px;
    padding: 20px;
    display: inline-block;
}

.main-text h3 {
    font-size: 25px;
    margin-top: 30px;
    width: 100%;
}

nav {
    height: 50px;
    padding: 0 10px 10px 10px;
}

nav .container {
    background-color: green;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

aside {
    width: 25%;
    float: left;
    padding: 10px;
}

aside .container {
    background-color: violet;
    height: 100%;
}

main {
    width: 50%;
    height: 1200px;
    float: left;
    padding: 10px;
}

main .container {
    background-color: purple;
    height: 100%;
}

aside section {
    height: 350px;
    width: 100%;
}

aside section.left:first-child {
    height: 500px;
    padding-bottom: 20px;
}

aside section.left:nth-child(2) {
    height: 100px;
    padding-bottom: 20px;
}

aside section.left:nth-child(3) {
    height: 300px;
}



aside section.right:first-child {
    padding-bottom: 20px;
    height: 100px;
}

aside section.right:nth-child(2) {
    height:200px;
}


section .container {
    background-color: violet;
    height: 100%;
    width: 100%;
}


footer {
    height: 200px;
    padding: 10px;
}

footer .container {
    background-color: lightblue;
    height: 100%;
}
